* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p, h1, p > *, h1 > * {
  cursor: default;
}
button {
  cursor: pointer;
}
#layout {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #fff;
  overflow: auto;
  transition: none;
}
#resizer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-bottom: 0px;
}
footer > div {
  width: 100%;
  background: #F8FFE5;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
h1 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
h1 > span {
  margin-right: 10px;
}
h1 span:last-child {
  display: flex;
  flex-wrap: nowrap;
}
h1 span:last-child span {
  display: block;
  transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
h1 span:last-child span:hover {
  transform: scale(1.1);
}
h1 span:last-child span:nth-child(1) {
  color: #06D6A0;
}
h1 span:last-child span:nth-child(2) {
  color: #1B9AAA;
}
h1 span:last-child span:nth-child(3) {
  color: #EF476F;
}
h1 span:last-child span:nth-child(4) {
  color: #FFC43D;
}

textarea {
  resize: none;
  overflow: auto;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  border: none;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
}
#context > textarea {
  border: 3px solid #1B9AAA;
}
#chatInput > textarea {
  border: 3px solid #06D6A0;
}
#chatInput, #context {
  display: flex;
  gap: 20px;
}
#chatInput {
  align-items: end;
}
#context > #restart {
  width: 30px;
  height: 30px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1B9AAA;
  border: none;  
  border-radius: 6px;
}
#chatInput > #send {
  width: 54px;
  height: 54px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #06D6A0;
  border: none;  
  border-radius: 6px;
}
#chatInput > #send > span {
  font-size: 30px;
}

#chatclouds {
  min-height: 680px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}
#chatclouds div {
  max-width: 300px;
  width: fit-content;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 8px;
}
#chatclouds div:nth-child(even) {
  background: #FFC43D;
}
#chatclouds div:nth-child(odd) {
  background: #EF476F;
  align-self: flex-end;
}